<div class="page-header">
  <h1 class="page-title">{{ 'companies.title' | translate }}</h1>
  <button mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    {{ 'companies.add' | translate }}
  </button>
</div>

<mat-card>
  <table mat-table [dataSource]="companies()" class="full-width">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'companies.name' | translate }}</th>
      <td mat-cell *matCellDef="let company">{{ company.name }}</td>
    </ng-container>

    <ng-container matColumnDef="employeeCount">
      <th mat-header-cell *matHeaderCellDef>{{ 'companies.employees' | translate }}</th>
      <td mat-cell *matCellDef="let company">{{ company.employeeCount }}</td>
    </ng-container>

    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef>{{ 'companies.plan' | translate }}</th>
      <td mat-cell *matCellDef="let company">
        <mat-chip-set>
          <mat-chip>{{ company.plan }}</mat-chip>
        </mat-chip-set>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'companies.status' | translate }}</th>
      <td mat-cell *matCellDef="let company">
        <mat-chip-set>
          <mat-chip [class]="'status-' + company.status">{{ company.status }}</mat-chip>
        </mat-chip-set>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | translate }}</th>
      <td mat-cell *matCellDef="let company">
        <button mat-icon-button [routerLink]="['/companies', company.id]" aria-label="Edit">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
